:root {

    --webpage-background: #FAF9F6;
    --normal-text: #404040;
    --sidebar-background: #95c777;
    --hover-background: #89b86c;
    --hover-text: #FFFFFF;

}

a {

    text-decoration: none;
    font-weight: bold;
    color: var(--normal-text);
    transition: 0.5s;

}

a:hover {

    background-color: var(--hover-background);
    transition: 0.5s;

}

hr {

    border-color: #488720;
    background-color: #488720;

}

article {

    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

p {

    font-size: 20px;

}